<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34843775816-96upa1l248tpnvssk061alru2qnetq3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34843775816-96upa1l248tpnvssk061alru2qnetq3f</string>
	<key>API_KEY</key>
	<string>AIzaSyDCEH9miPXDDjZsBYJoacUeZV5VBTWplnw</string>
	<key>GCM_SENDER_ID</key>
	<string>34843775816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.xoul.TODOOY</string>
	<key>PROJECT_ID</key>
	<string>todooy-153d4</string>
	<key>STORAGE_BUCKET</key>
	<string>todooy-153d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34843775816:ios:d0a1af5f4282c216d0997d</string>
</dict>
</plist>